<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">
<!--    新增套餐-->
    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        insert into setmeal(category_id, name, price, status, description,image) values
                    (#{categoryId},#{name},#{price},#{status},
                     #{description},#{image})
     </insert>
<!--    修改套餐信息-->
    <update id="update">
            update setmeal
            <set>
                <if test="categoryId != null">
                    category_id = #{categoryId},
                </if>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="price != null">
                    price = #{price},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="image != null">
                    image = #{image},
                </if>
                <if test="createTime!=null">
                    create_time = #{createTime}
                </if>
                <if test="createUser!=null">
                    create_user = #{createUser}
                </if>
                <if test ="updateTime != null">
                    update_time = #{updateTime},
                </if>
                <if test="updateUser != null">
                    update_user = #{updateUser},
                </if>
            </set>
            where id = #{id}
    </update>
    <!--   根据ids批量删除-->
    <delete id="deleteByIds">
        delete from setmeal where id in
            <foreach item="id" collection="ids" separator="," open="(" close=")">
                #{id}
            </foreach>
    </delete>
    <!--根据id集合查询对应的id-->
    <select id="getByIdForId" resultType="java.lang.Long">
        select id from setmeal_dish
                  where dish_id in
                                    <foreach item="id" collection="ids" separator="," open="(" close=")">
                                        #{id}
                                    </foreach>
    </select>
<!--     定义查询返回的套餐类型-->
    <resultMap id="SetmealVOMap" type="com.sky.vo.SetmealVO">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="status" column="status"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryName" column="category_name"/>
        <collection property="setmealDishes" ofType="com.sky.entity.SetmealDish">
            <id property="id" column="sd_id"/>
            <result property="setmealId" column="sd_setmeal_id"/>
            <result property="dishId" column="sd_dish_id"/>
            <result property="name" column="sd_name"/>
            <result property="price" column="sd_price"/>
            <result property="copies" column="sd_copies"/>
        </collection>
    </resultMap>
<!--    根据指定id查询-->
    <select id="getById" resultMap="SetmealVOMap">
        select s.id,s.category_id categoryId,s.name,s.price,s.status,s.description,
               s.image,s.update_time,c.name categoryName,
               sd.price sd_price,sd.dish_id sd_dish_id,
               sd.name sd_name,sd.copies sd_copies,sd.id sd_id,
               sd.setmeal_id sd_setmeal_id
        from setmeal s
        left join setmeal_dish sd on s.id = sd.setmeal_id
        left join category c on s.category_id = c.id
        where s.id = #{id}
    </select>
<!--    分页查询-->
    <select id="page" resultMap="SetmealVOMap">
        select s.id,s.category_id categoryId,s.name,s.price,s.status,s.description,
               s.image,s.update_time,c.name categoryName,
               sd.price sd_price,sd.dish_id sd_dish_id,
               sd.name sd_name,sd.copies sd_copies,sd.id sd_id,
               sd.setmeal_id sd_setmeal_id
        from setmeal s
                 left join setmeal_dish sd on s.id = sd.setmeal_id
                 left join category c on s.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                and  s.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and s.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and s.status = #{status}
            </if>
        </where>
    </select>
    <select id="getByIds" resultType="java.lang.Object">
            select * from setmeal where id in
            <foreach item="id" collection="ids" separator="," open="(" close=")">
                #{id}
            </foreach>
        and status = 1
    </select>
</mapper>
